/* simple css-based tooltip */
#form-Flight .tooltip,
#form-Grd .tooltip,
#form-Vol .tooltip,
#form-Vet .tooltip {
  background-color:#000;
  border:1px solid #fff;
  padding:10px 15px;
  width:200px;
  display:none;
  color:#fff;
  text-align:left;
  font-size:12px;

  /* outline radius for mozilla/firefox only */
  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}

#form-Flight fieldset,
#form-Grd fieldset,
#form-Vol fieldset,
#form-Vet fieldset { 
  position: relative;      
  float: left;      
  clear: both;      
  width: 100%;      
  margin: 0 0 -1em 0;      
  padding: 0 0 1em 0;      
  border-style: none;      
  border-top: 1px solid #BFBAB0;      
}

#form-Flight legend,
#form-Grd legend,
#form-Vol legend,
#form-Vet legend { 
  padding: 0;      
  color: #545351;      
  font-weight: bold;     
}

#form-Flight fieldset ol,
#form-Grd fieldset ol,
#form-Vol fieldset ol,
#form-Vet fieldset ol {      
  padding: 1.5em 1em 0 1em;      
  list-style: none;     
}

#form-Flight legend span,
#form-Grd legend span,
#form-Vol legend span,
#form-Vet legend span {      
  position: absolute;      
  left: 0.74em;      
  top: 0;      
  margin-top: 0.5em;      
  font-size: 125%;     
}

#form-Flight fieldset {      
  background-color: #EEEEEE;     
}

#form-Flight fieldset.alt {      
  background-color: #E0E0E0;     
}

#form-Vet fieldset {      
  background-color: #F4E3DD;     
}

#form-Vet fieldset.alt {      
  background-color: #E9E3DD;     
}

#form-Grd fieldset{
  background-color: #ECEFF9;     
}

#form-Grd fieldset.alt{
  background-color: #E6E3ED;     
}

#form-Vol fieldset{
  background-color: #EEEEEE;     
}

#form-Vol fieldset.alt{
  background-color: #CCCCCC;     
}

#form-Flight fieldset.submit,
#form-Grd fieldset.submit,
#form-Vol fieldset.submit,
#form-Vet fieldset.submit {      
  float: none;      
  width: auto;      
  padding-top: 1.5em;      
  padding-left: 12em;      
  background-color: #FFFFFF;     
}

#form-Flight label,
#form-Grd label,
#form-Vol label,
#form-Vet label {    
  position: relative;        
  float: left;    
  width: 10em;    
  margin-right: 1em;    
  text-align: right;   
}

#form-Flight label em,
#form-Grd label em,
#form-Vol label em,
#form-Vet label em {        
  position: absolute;        
  left: 10.4em;        
  top: 0;       
}

#form-Grd span.grey-note,
#form-Vol span.grey-note,
#form-Vet span.grey-note {
  font-size: 75%;     
  color: #555;
  display:block;
  margin-left: 15em;
}

/* error message */
.error {
	height:15px;
	background-color:#FFFE36;
	font-size:11px;
	border:1px solid #E1E16D;
	padding:4px 10px;
	color:#000;
	display:none;	
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
	
	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;	
}

.error p {
	margin:0;		
}
