body {
  font:1em Helvetica, sans-serif;
  margin:0;
  padding:4px;
}

h1 {
  margin-top:10px;
  margin-bottom:0;
  text-align: center;
  padding:1px;
}

h2 {
  color:#222;
}

#current-path {
  font-weight:normal;
  color:#555;
}

#header {
  padding:4px;
}

#account {
  position:absolute; 
  top:2px; 
  right:2px; 
}

#content {
  clear:both;
}

#activity {
  width:65%;
}

#sidebar {
  float:right;
  width:30%;  
}

#tagcloud, #usercloud {
  padding:24px 4px;
}

#flights ul, #tasks ul {
  list-style: none;
  margin:0;
  padding:0;
}

.clear {
  clear:left;
}

#flights li, #tasks li, #profile {
  padding:4px;
  padding-bottom:0;
  margin:6px;
  margin-bottom:0;
  border: 1px solid #fff;
  background-color:#fff;
  -webkit-border-radius:14px;
  -webkit-transition-property:background-color;
  -webkit-transition-duration:0.5s;
  -moz-border-radius:14px;
  -moz-transition-property:background-color;
  -moz-transition-duration:1.5s;
}

div#profile {
  border: 1px solid #999;
  background-color:#ddd;  
}

#profile textarea {
  width:80%;
}

#flights li:hover {
  border: 1px solid #999;
  background-color:#aaa;
}

#filter_controls {
  width: 90%;
  margin:10px;
}

div.line {
  position: relative;
  text-align: center;
  width: 90%;
  margin:10px;
}

span.left {
  position: absolute;
  left: 0;
}

span.center {
}

span.right {
  position: absolute;
  right: 0;
}

#result_list {
  width: 90%;
  margin:10px;
}

span.grey-note {
  font-size: 75%;     
  color: #555;
}

